/*------------------------------------*\
    $MAIN STYLE SHEET SCSS SAMPLING
\*------------------------------------*/
/*------------------------------------*\
    $Defining Variables
\*------------------------------------*/
/*for margins*/
/*------------------------------------*\
    $Styling
\*------------------------------------*/
html {
  font: 0.75em/1.5 sans-serif;
  background-color: #f9f9f9;
  color: #444; }

body {
  width: 1200px;
  margin: 0 auto;
  color: #999999;
  padding: 0 18px; }

.demo, .demo-second, .demo-dark {
  padding: 18px; }

.demo-second {
  background-color: red;
  color: #fff; }

.demo-dark {
  background-color: #191919;
  color: red;
  text-align: center;
  font-size: 24px; }

p {
  margin: 0;
  margin-bottom: 18px; }
