/*------------------------------------*\
    $MAIN STYLE SHEET SCSS SAMPLING
\*------------------------------------*/


/*------------------------------------*\
    $Defining Variables
\*------------------------------------*/

$font-stack: Helvetica, sans-serif;

$primery-color: #999;
$secondary-color: red;
$dark-color: #191919;


$centering: 0 auto; /*for margins*/




/*------------------------------------*\
    $Styling
\*------------------------------------*/

html {
font: 0.75em/1.5 sans-serif;
background-color: #f9f9f9;
color: #444;
}

body {
	width: 1200px;
	margin: $centering;
	color: $primery-color;
	padding: 0 18px;
}


.demo {
	padding: 18px;
}

.demo-second {
	@extend .demo;
	background-color: $secondary-color;
	color: #fff;
}

.demo-dark {
	@extend .demo;
	background-color: $dark-color;
	color: $secondary-color;
	text-align: center;	
	font-size: 24px;
}

p {
margin: 0;
margin-bottom: 18px;
}